/**
 * @name Genshin Impact Ayaka
 * @author SAD SHARK#5716
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness. Dark theme is required
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

:root {
  --background-image: url('https://i.imgur.com/PgN2NhQ.jpg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-modal-image: transparent;
  --popout-modal-blur: 0px;
  --popout-modal-size: cover;
  --popout-modal-position: center;
  --home-button-image: url('https://i.imgur.com/IzfLr2U.gif');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.4;
  --left-brightness: 0.4;
  --middle-brightness: 0.4;
  --right-brightness: 0;
  --popout-modal-brightness: 0.4;
  --gradient-primary: 0,240,255;
  --gradient-secondary: 213,213,213;
  --link-colour: #FFFFFF;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: 'Comfortaa';
  --window-padding: 0px;
  --window-roundness: 0px;
  --show-gift-gif-buttons: block;
  --update-notice-1: none;
  --rs-small-spacing: 0px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2.5px;
  --rs-medium-width: 2.5px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #00FFF7;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
}
