/**
 * @name Satoru Gojo - Blue vs Red
 * @author Sad_Shark
 * @version auto updates
 * @description Theme was created in generator https://vsthemes.org/generator/
 * @source https://vsthemes.org/en/skins/discord/33480-satoru-gojo.html
 * @authorLink https://vsthemes.org/user/Sad_Shark/
 * @authorId 57356
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.1;
    --messagetransparency: 0.2;
    --guildchanneltransparency: 0.2;
    --memberlistransparency: 0;
    --accentcolor: 120,120,120;
    --background: url("https://vsthemes.org/uploads/posts/2021-05/1622478502_satoru_activating_red_and_blue_anime.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}